packages:
  yum:
    php55-pecl-apc: []

files:
  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
     apc.enabled=1
     apc.shm_segments=3
     apc.shm_size=32
     apc.ttl=7200
     apc.user_ttl=7200
     apc.num_files_hint=2048
     apc.mmap_file_mask=/tmp/apc.XXXXXX
     apc.enable_cli=1
     apc.max_file_size=10M

